<?xml version="1.0"?>
<connectionStrings>
  <clear/>
  <add name="ImplantaDEVTraining" connectionString="Data Source=URL_SERVIDOR;Initial Catalog=DATABASE_NAME;uid=USER_NAME;pwd=PASSWORD;MultipleActiveResultSets=True;Connection Timeout=3000;" providerName="System.Data.SqlClient" />
</connectionStrings>